.loginMain{
    display: flex;
}

.loginMain li{
    margin-left: 25px;
    list-style-type: none;
}

.loginMain li a{
    text-decoration: none;
    color: #000000;
}

.heading
{
    color: orangered;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}